language: python

python:
  - "2.7"

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-xlrd

env:
  global:
  - VERSION="8.0" TESTS="0" LINT_CHECK="0"
  matrix:
  - LINT_CHECK="1"
  - TESTS="1" ODOO_REPO="odoo/odoo" OPTIONS="--test-commit" EXCLUDE="l10n_es_toponyms,l10n_es_partner"
  - TESTS="1" ODOO_REPO="OCA/OCB" OPTIONS="--test-commit" EXCLUDE="l10n_es_toponyms,l10n_es_partner"

virtualenv:
  system_site_packages: true

install:
  - pip install unidecode
  - pip install unicodecsv
  - pip install requests
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
