language: python

python:
  - "3.5"

sudo: false
cache: pip

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      # needed because server-tools is loaded in the dependency chain
      - unixodbc-dev
      - python-mysqldb
      - libxmlsec1-dev
      - libxml2-dev
      - libxmlsec1-openssl
      - openssl

env:
  global:
  - VERSION="12.0" TESTS="0" LINT_CHECK="0" MAKEPOT="0"
  matrix:
  - LINT_CHECK="1"
  - TESTS="1" ODOO_REPO="OCA/OCB" MAKEPOT="1"
  - TESTS="1" ODOO_REPO="odoo/odoo"


install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_wait travis_run_tests

after_success:
  - travis_after_tests_success
