odoo_test_helper
odoo-addon-delivery_package_number @ git+https://github.com/OCA/delivery-carrier.git@refs/pull/839/head#subdirectory=delivery_package_number
odoo-addon-delivery_state @ git+https://github.com/OCA/delivery-carrier.git@refs/pull/840/head#subdirectory=delivery_state
