odoo_test_helper
odoo-addon-l10n_es_aeat @ git+https://github.com/OCA/l10n-spain.git@refs/pull/3086/head#subdirectory=setup/l10n_es_aeat
odoo-addon-l10n_es_aeat_mod115 @ git+https://github.com/OCA/l10n-spain.git@refs/pull/3086/head#subdirectory=setup/l10n_es_aeat_mod115
