odoo-addon-l10n_es_aeat @ git+https://github.com/OCA/l10n-spain.git@refs/pull/4624/head#subdirectory=l10n_es_aeat
odoo-addon-l10n_es_aeat_mod303 @ git+https://github.com/OCA/l10n-spain.git@refs/pull/4680/head#subdirectory=l10n_es_aeat_mod303
