<STYLE>
BODY
{
    SCROLLBAR-FACE-COLOR: lightsteelblue;
    FONT-SIZE: 10pt;
    SCROLLBAR-HIGHLIGHT-COLOR: lightsteelblue;
    COLOR: #000000;
    SCROLLBAR-3DLIGHT-COLOR: darkblue;
    TEXT-INDENT: 5pt;
    SCROLLBAR-ARROW-COLOR: darkblue;
    SCROLLBAR-TRACK-COLOR: #e8efff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    SCROLLBAR-DARKSHADOW-COLOR: lightsteelblue;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: justify
}
.titulo1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #000080;
    TEXT-ALIGN: center
}
.titulo2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #800000;
    TEXT-ALIGN: center
}
.titulopeque
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.letrita
{
    FONT-SIZE: 8pt
}
TABLE
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial,Helvetica,sans-serif
}
TR
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial,Helvetica,sans-serif
}
HR
{
    COLOR: #003399;
    TEXT-ALIGN: center
}
</STYLE>